/venv
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


/sustain/frontend/node_modules
/sustain/frontend/.DS_Store
/sustain/frontend/package-lock.json
/sustain/frontend/.env.local
/sustain/frontend/.env.development.local
/sustain/frontend/.env.test.local
/sustain/frontend/.env.production.local
/sustain/frontend/npm-debug.log*
/sustain/frontend/yarn-error.log*

/sustain/frontend/src/**/*.css


/sustain/sustain/__pycache__/*
/sustain/sustainbackendapp/__pycache__/*
/__pycache__/*
*/__pycache__/*
*/__pycache__
/sustain/sustainbackendapp/migrations/__pycache__/*
/sustain/sustainbackendapp/migrations/__pycache__/